<footer class="footer">
  <p>
    &copy; 2024 Designed with dedication by
    <a class="highlight-link" href="https://selimerdinc.github.io/" target="_blank" rel="noreferrer">
      Selim Erdinç
    </a>
  </p>
  <div class="footer-social-links">
  <a href="https://github.com/{{site.github_username}}" target="_blank" rel="noreferrer">GitHub</a>
  <a href="https://linkedin.com/in/{{site.linkedin_username}}" target="_blank" rel="noreferrer">LinkedIn</a>
  <a href="https://instagram.com/{{site.instagram_username}}" target="_blank" rel="noreferrer">Instagram</a>
  <!-- Diğer sosyal medya ikonları buraya eklenebilir -->
</div>

</footer>



<!-- Google Analytics -->
{% if site.google-analytics %}
<script>
  var dnt = navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack;
  if (dnt != "1" && dnt != "yes") {
    (function (i, s, o, g, r, a, m) {
      i["GoogleAnalyticsObject"] = r;
      (i[r] =
        i[r] ||
        function () {
          (i[r].q = i[r].q || []).push(arguments);
        }),
        (i[r].l = 1 * new Date());
      (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m);
    })(
      window,
      document,
      "script",
      "https://www.google-analytics.com/analytics.js",
      "ga"
    );
    ga("create", "{{ site.google-analytics.id }}", "auto");
    ga("send", "pageview");
  }
</script>
{% endif %}
